* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
} 
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    text-align: center;
    padding-top: 292px;
}
.content a {
    text-decoration: none;
    display: inline-block;
    color: blue;
    font-size: 30px;
    border: 7px solid orange;
    padding: 7px 30px;
    border-radius: 50px;
    margin-bottom: 920px;
    margin-right: 1250px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}


.content a:hover, .content a:focus, .content a:active{
    box-shadow: 0 0 20px orange;
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }

}
@media (max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }

}